*

!.gitignore

# scripts
!scripts/
!scripts/**

# wallpapers
!wallpapers/
!wallpapers/current
!wallpapers/archive
!wallpapers/archive/**

# mwww music widget
!mwww/
!mwww/**
mwww/commands.fifo
mwww/songs/**

# themes
!themes/
!themes/**

# fastfetch
!fastfetch/
!fastfetch/**

# hyprland ecosystem
!hypr/
!hypr/**

# kitty terminal
!kitty/
!kitty/**

# starship
!starship.toml

# waybar status bar
!waybar/
!waybar/**

# wofi app launcher
!wofi/
!wofi/**

# theme picker
!theme-picker/
!theme-picker/**

# zen browser
!zen-browser/
!zen-browser/**

# git setup
!git/
!git/**
