* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
     opacity: 0.2;
}

#workspaces {
    background-color: #171717;
    border-radius: 20px;
    font-size: 16px;
}

#workspaces button {
    color: rgb(245, 245, 245);
    background: none;
    padding: 0 10px 0 10px;
}

#workspaces button:first-child {
    border-radius: 20px 0 0 20px;
    padding-left: 14px; 
}

#workspaces button:last-child {
    border-radius: 0 20px 20px 0;
    padding-right: 14px;    
}

#workspaces button:only-child {
    border-radius: 20px;
}

#workspaces button.active {
    background-color: rgb(90, 90, 90);
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0px 4px;
}

#clock {
    background-color: #171717;
    color: #ffffff;
    border-radius: 0 20px 20px 0;
    padding: 0 20px 0 10px;
}

#battery {
    background-color: #171717;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #171717;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #171717;
    color: #ffffff;
}

#memory {
    background-color: #171717;
    color: #ffffff;
}

#disk {
    background-color: #171717;
    color: #ffffff;
}

#backlight {
    background-color: #171717;
}

#network {
    background-color: #171717;
    color: #ffffff;
}

#network.disconnected {
    background-color: #171717;
    color: red;
}

#pulseaudio {
    background-color: #171717;
    color: #ffffff;
    padding: 0 10px 0 20px;
}

#pulseaudio.muted {
    background-color: #171717;
    color: red;
}

#language {
    background-color: #171717;
    color: #ffffff;
    border-radius: 20px 0 0 20px;
    padding: 0 0 0 20px;
}

#temperature {
    background-color: #171717;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#language {
    background-color: #171717;
    color: #ffffff;
    min-width: 16px;
}

