@define-color base rgb(40, 40, 40);
@define-color text rgb(180, 180, 180);
@define-color text-selected rgb(215, 215, 215);
@define-color outline rgb(180, 180, 180);
@define-color accent rgb(80, 80, 80);

/* Font */
* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @outline;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: @text-selected;
  background-color: rgb(40, 40, 40); /* Slight contrast for input box */
}

#input image {
  border: none;
  color: @text-selected;
}

/* Removes the border around input on focus */
#input:focus {
  box-shadow: none;
}

/* Text Entries */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Unselected entries */
#entry #text {
  color: @text;
}

/* Selected entry */
#entry:selected {
  border: 1px solid @outline;
}

#entry:selected #text {
  color: @text-selected;
}