@define-color base rgb(24, 32, 56);
@define-color text rgb(170, 180, 200);
@define-color text-selected rgb(225, 235, 255);
@define-color outline rgb(120, 140, 200);
@define-color accent rgb(60, 80, 130);

/* Font */
* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @outline;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: @text-selected;
  background-color: @base;
}

#input image {
  border: none;
  color: @text-selected;
}

/* Removes the border around input on focus */
#input:focus {
  box-shadow: none;
}

/* Text Entries */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Unselected entries */
#entry #text {
  color: @text;
}

/* Selected entry */
#entry:selected {
  border: 1px solid @outline;
}

#entry:selected #text {
  color: @text-selected;
}